* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

main {
  padding: 80px 0
}


.container {
  margin: 0 auto;
  max-width: 1200px;

}

.container-sm {
  margin: 0 auto;
  max-width: 1000px;

}

header {

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.links ul {
  list-style: none;

}

.links ul li {
  margin: 0 15px;
}

.links ul li a:not(.btn) {
  text-decoration: none;
  color: black;
}

.links ul li a:not(.btn):hover {
  text-decoration: underline;

}

/*dropdown*/
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 25;

}

.dropdown-content ul li {
  padding: 5px 10px;
  border: 1px solid black;
  background-color: white;
}

.dropdown-content ul li:hover {
  background-color: rgb(212, 212, 212);
}

/*buttons*/
.btn {
  padding: 10px 15px;
  text-decoration: none;
}

.btn-blue {
  background-color: #0061FE;
  color: white;
}

.btn-blue:hover {
  background-color: #143872;
  color: white;
}

.btn-black {
  border: 1px solid black;
  color: black;
}

.btn-black:hover {
  border: 1px solid black;
  background-color: #000;
  color: #fff;
}

.bg-jumbotron {
  background-color: #B4D0E6;

}

i.fa-arrow-down {
  font-size: 50px;
}

h2 {
  font-size: 80px;
  font-weight: 900;
}

h3 {
  font-size: 40px;
  font-weight: 900;
}

h4 {
  font-size: 20px;
  font-weight: 900;
}



img {
  max-width: 100%;
}


.rad {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid grey;
  margin-right: 10px;
}

.rad.rad-blue {
  border: 5px solid #005EF6;
}

.billing span {
  margin-right: 30px;
}

/* card in section plans */
.card {
  height: 100%;
  border: 1px solid grey;
}

.card-header {
  padding: 10px 0;
  border-bottom: 1px solid grey;
  text-align: center;
}

.card-body {
  padding: 10px 0;
}

.card-body hr {
  margin: 30px 70% 30px 30px;
}

.c-b-sect {
  width: 100%;
  padding: 10px 30px;
}

.c-b-sect p:first-of-type {
  font-weight: 900;
}

.c-b-sect.col-100 p:last-of-type {
  color: grey;
}

.c-b-sect h4,
.c-b-sect p {
  margin: 20px 0;
}

.c-b-sect * {
  margin: 5px 0;
}

.c-b-sect ul {
  list-style: none;
}

.c-b-sect ul li div i {
  margin-right: 10px;
}

.btn a {
  text-decoration: none;
  color: white;
}

/* footer */
footer {
  background-color: #000;
  color: white;
}


footer .container .row .col-20 ul {
  list-style: none;
}

footer .container .row .col-20 h4 {
  margin: 30px 0;
}

footer .container .row .col-20 ul li {
  margin: 15px 0;
}

footer .container .row .col-20 ul li a {
  text-decoration: none;
  color: white;

}

footer .container .row .col-20 ul li a:hover {
  text-decoration: underline;
}

.lang {
  border-top: white 1px solid;
  padding: 70px 30px 70px 0;
}

/* structure */
.row:not(.jumbotron .row) {
  gap: 60px;
}

.col-20 {
  width: calc(100% / 5 - 60px);

}

.col-30 {
  width: 30%;

}

.col-33 {
  width: calc(100% / 3 - 40px);


}

.col-40 {
  width: 40%;

}

.col-50 {
  width: 50%;

}

.col-60 {
  width: 60%;

}

.col-66 {
  width: calc((100% / 3) *2 - 30px);

}

.col-70 {
  width: 70%;

}

.col-100 {
  width: 100%;

}


/* utility */
.block {
  display: block;
}

.inline {
  display: inline-block;
}

.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

/* paddings */
.p-50 {
  padding: 50px;
}

.px-50 {
  padding: 0 50px;
}

.py-10 {
  padding: 10px 0;
}

.py-15px {
  padding: 0 15px;
}

.py-50 {
  padding: 50px 0;
}

.py-80 {
  padding: 80px 0;
}

.pt-50 {
  padding-top: 50px;
}

.pt-80 {
  padding-top: 80px;
}

.pb-20 {
  padding-bottom: 20px;
}

/* margins */
.mt-10 {
  margin-top: 10px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mx-5 {
  margin: 0 5px;
}

.my-20 {
  margin: 20px 0;
}

.my-50 {
  margin: 50px 0;
}

.my-80 {
  margin: 80px 0;
}

/* flex */
.flex {
  display: flex;
}

.direction-col {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.j-c-flex-end {
  justify-content: flex-end;
}

.j-c-space-between {
  justify-content: space-between;
}

.j-c-center {
  justify-content: center;
}

.a-c-center {
  align-content: center;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* txt */
.f-w-900 {
  font-weight: 900;
}

.txt-grey {
  color: grey;
}

.txt-blue {
  color: #0061FE;
}

/* bg-colors*/
.bg-silver {
  background-color: silver;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.bg-white {
  background-color: white;
}

/* heights */

.h-80 {
  height: 80px;
}

.h-100 {
  height: 100px;
}

.h-200 {
  height: 200px;
}

.h-300 {
  height: 300px;
}

.h-500 {
  height: 500px;
}

.h-800 {
  height: 800px;
}