* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;

}

header {
  padding: 25px 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.links ul {
  list-style: none;

}

.links ul li {
  margin: 0 15px;
}

.links ul li a,
.login {
  text-decoration: none;
  color: black;
}

.login {
  padding: 5px 15px;
  background-color: #0061FE;
  color: white;
}

/* structure */
.row {
  width: 100%
}

.col-50 {
  width: 50%;

}


/* utility */
.flex {
  display: flex;
}

.j-c-flex-end {
  justify-content: flex-end;
}

.a-c-center {
  align-content: center;
}

.text-right {
  text-align: right;
}

.py-15px {
  padding: 0 15px;
}

/* bg-colors*/
.bg-silver {
  background-color: silver;
}

.bg-red {
  background-color: red;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.bg-white {
  background-color: white;
}

/* heights */
.h-100 {
  height: 100px;
}

.h-80 {
  height: 80px;
}